{% extends 'layout.html' %}{% block content %}
<h1>Личный кабинет</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3"><div class="card-body">
      <h5 class="card-title">Платежи</h5>
      <p class="card-text">Количество: {{ payments_count }}</p>
      <a href="{{ url_for('user_payments') }}" class="btn btn-outline-primary btn-sm">Перейти</a>
    </div></div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3"><div class="card-body">
      <h5 class="card-title">Документы</h5>
      <p class="card-text">Количество: {{ documents_count }}</p>
      <a href="{{ url_for('user_documents') }}" class="btn btn-outline-primary btn-sm">Перейти</a>
    </div></div>
  </div>
</div>
<a class="btn btn-primary" href="{{ url_for('pay') }}">Новый платёж</a>
{% endblock %}
